:root {
  --x-700: rgba(74, 85, 104, 1);
  --primary-200: rgba(192, 224, 247, 1);
  --primary-300: rgba(136, 200, 241, 1);
  --primary-400: rgba(73, 171, 231, 1);
  --primary-500: rgba(32, 139, 204, 1);
  --primary-600: rgba(20, 115, 181, 1);
  --primary-700: rgba(17, 92, 147, 1);
  --primary-800: rgba(18, 79, 122, 1);
  --primary-900: rgba(21, 67, 101, 1);
  --primary-950: rgba(14, 42, 67, 1);
  --primary-50: rgba(241, 248, 254, 1);
  --primary-100: rgba(227, 239, 251, 1);
  --secondary-50: rgba(241, 252, 249, 1);
  --secondary-100: rgba(208, 247, 240, 1);
  --secondary-200: rgba(161, 238, 224, 1);
  --secondary-300: rgba(106, 222, 206, 1);
  --secondary-400: rgba(69, 200, 186, 1);
  --secondary-500: rgba(34, 170, 158, 1);
  --secondary-600: rgba(25, 136, 128, 1);
  --secondary-700: rgba(24, 109, 104, 1);
  --secondary-800: rgba(24, 87, 84, 1);
  --secondary-900: rgba(24, 73, 70, 1);
  --secondary-950: rgba(8, 43, 43, 1);
  --teriary-50: rgba(255, 252, 234, 1);
  --teriary-100: rgba(255, 245, 197, 1);
  --teriary-200: rgba(255, 236, 133, 1);
  --teriary-300: rgba(255, 219, 70, 1);
  --teriary-400: rgba(255, 200, 27, 1);
  --teriary-500: rgba(250, 163, 0, 1);
  --teriary-600: rgba(226, 125, 0, 1);
  --teriary-700: rgba(187, 86, 2, 1);
  --teriary-800: rgba(152, 66, 8, 1);
  --teriary-900: rgba(124, 55, 11, 1);
  --teriary-950: rgba(72, 27, 0, 1);
  --information-50: rgba(237, 250, 255, 1);
  --information-100: rgba(214, 242, 255, 1);
  --information-200: rgba(181, 234, 255, 1);
  --information-300: rgba(131, 223, 255, 1);
  --information-400: rgba(72, 203, 255, 1);
  --information-500: rgba(30, 173, 255, 1);
  --information-600: rgba(6, 143, 255, 1);
  --information-700: rgba(0, 123, 255, 1);
  --information-800: rgba(8, 94, 197, 1);
  --information-900: rgba(13, 81, 155, 1);
  --information-950: rgba(14, 49, 93, 1);
  --error-50: rgba(254, 242, 242, 1);
  --error-100: rgba(254, 230, 229, 1);
  --error-200: rgba(252, 207, 207, 1);
  --error-300: rgba(249, 168, 168, 1);
  --error-400: rgba(245, 119, 121, 1);
  --error-500: rgba(236, 71, 79, 1);
  --error-600: rgba(220, 53, 69, 1);
  --error-700: rgba(183, 25, 44, 1);
  --error-800: rgba(153, 24, 44, 1);
  --error-900: rgba(131, 24, 44, 1);
  --error-950: rgba(73, 8, 18, 1);
  --warning-50: rgba(255, 255, 234, 1);
  --warning-100: rgba(255, 251, 197, 1);
  --warning-200: rgba(255, 248, 133, 1);
  --warning-300: rgba(255, 238, 70, 1);
  --warning-400: rgba(255, 223, 27, 1);
  --warning-500: rgba(255, 193, 7, 1);
  --warning-600: rgba(226, 148, 0, 1);
  --warning-700: rgba(187, 105, 2, 1);
  --warning-800: rgba(152, 81, 8, 1);
  --warning-900: rgba(124, 66, 11, 1);
  --warning-950: rgba(72, 34, 0, 1);
  --success-50: rgba(241, 252, 242, 1);
  --success-100: rgba(223, 249, 228, 1);
  --success-200: rgba(193, 241, 203, 1);
  --success-300: rgba(144, 229, 163, 1);
  --success-400: rgba(88, 208, 115, 1);
  --success-500: rgba(50, 181, 80, 1);
  --success-600: rgba(40, 167, 69, 1);
  --success-700: rgba(31, 118, 52, 1);
  --success-800: rgba(30, 93, 45, 1);
  --success-900: rgba(26, 77, 39, 1);
  --success-950: rgba(9, 42, 18, 1);
  --neutral-50: rgba(246, 247, 249, 1);
  --neutral-100: rgba(236, 238, 242, 1);
  --neutral-200: rgba(213, 217, 226, 1);
  --neutral-300: rgba(177, 187, 200, 1);
  --neutral-400: rgba(134, 149, 170, 1);
  --neutral-500: rgba(100, 116, 139, 1);
  --neutral-600: rgba(82, 96, 119, 1);
  --neutral-700: rgba(67, 78, 97, 1);
  --neutral-800: rgba(58, 66, 82, 1);
  --neutral-900: rgba(52, 58, 70, 1);
  --neutral-950: rgba(35, 39, 46, 1);
  --base-black50: rgba(246, 246, 246, 1);
  --base-black100: rgba(231, 231, 231, 1);
  --base-black200: rgba(209, 209, 209, 1);
  --base-black300: rgba(176, 176, 176, 1);
  --base-black400: rgba(136, 136, 136, 1);
  --base-black500: rgba(109, 109, 109, 1);
  --base-black600: rgba(93, 93, 93, 1);
  --base-black700: rgba(79, 79, 79, 1);
  --base-black800: rgba(69, 69, 69, 1);
  --base-black900: rgba(61, 61, 61, 1);
  --base-black950: rgba(0, 0, 0, 1);
  --base-white50: rgba(255, 255, 255, 1);
  --base-white100: rgba(239, 239, 239, 1);
  --base-white200: rgba(220, 220, 220, 1);
  --base-white300: rgba(189, 189, 189, 1);
  --base-white400: rgba(152, 152, 152, 1);
  --base-white500: rgba(124, 124, 124, 1);
  --base-white600: rgba(101, 101, 101, 1);
  --base-white700: rgba(82, 82, 82, 1);
  --base-white800: rgba(70, 70, 70, 1);
  --base-white900: rgba(61, 61, 61, 1);
  --base-white950: rgba(41, 41, 41, 1);
  --h1-font-family: "Poppins", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 48px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 139.9999976158142%;
  --h1-font-style: normal;
  --h1-bold-font-family: "Poppins", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 48px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: 139.9999976158142%;
  --h1-bold-font-style: normal;
  --h2-font-family: "Poppins", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 40px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 139.9999976158142%;
  --h2-font-style: normal;
  --h2-bold-font-family: "Poppins", Helvetica;
  --h2-bold-font-weight: 700;
  --h2-bold-font-size: 40px;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: 139.9999976158142%;
  --h2-bold-font-style: normal;
  --h3-font-family: "Poppins", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 33px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 139.9999976158142%;
  --h3-font-style: normal;
  --h3-bold-font-family: "Poppins", Helvetica;
  --h3-bold-font-weight: 700;
  --h3-bold-font-size: 33px;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 139.9999976158142%;
  --h3-bold-font-style: normal;
  --h4-font-family: "Poppins", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 28px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 139.9999976158142%;
  --h4-font-style: normal;
  --h4-bold-font-family: "Poppins", Helvetica;
  --h4-bold-font-weight: 700;
  --h4-bold-font-size: 28px;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: 139.9999976158142%;
  --h4-bold-font-style: normal;
  --h5-font-family: "Poppins", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 23px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --h5-bold-font-family: "Poppins", Helvetica;
  --h5-bold-font-weight: 700;
  --h5-bold-font-size: 23px;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: 139.9999976158142%;
  --h5-bold-font-style: normal;
  --title-1-font-family: "Poppins", Helvetica;
  --title-1-font-weight: 400;
  --title-1-font-size: 19px;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 139.9999976158142%;
  --title-1-font-style: normal;
  --title-3-bold-font-family: "Poppins", Helvetica;
  --title-3-bold-font-weight: 700;
  --title-3-bold-font-size: 19px;
  --title-3-bold-letter-spacing: 0px;
  --title-3-bold-line-height: 139.9999976158142%;
  --title-3-bold-font-style: normal;
  --title-2-font-family: "Poppins", Helvetica;
  --title-2-font-weight: 400;
  --title-2-font-size: 16px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 139.9999976158142%;
  --title-2-font-style: normal;
  --title-4-bold-font-family: "Poppins", Helvetica;
  --title-4-bold-font-weight: 700;
  --title-4-bold-font-size: 16px;
  --title-4-bold-letter-spacing: 0px;
  --title-4-bold-line-height: 139.9999976158142%;
  --title-4-bold-font-style: normal;
  --body-font-family: "Poppins", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --body-font-style: normal;
  --body-bold-font-family: "Poppins", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 13px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 139.9999976158142%;
  --body-bold-font-style: normal;
  --caption-font-family: "Poppins", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 11px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --caption-font-style: normal;
  --caption-bold-font-family: "Poppins", Helvetica;
  --caption-bold-font-weight: 700;
  --caption-bold-font-size: 11px;
  --caption-bold-letter-spacing: 0px;
  --caption-bold-line-height: 139.9999976158142%;
  --caption-bold-font-style: normal;
  --display-xs-semibold-font-family: "Inter", Helvetica;
  --display-xs-semibold-font-weight: 600;
  --display-xs-semibold-font-size: 24px;
  --display-xs-semibold-letter-spacing: 0px;
  --display-xs-semibold-line-height: 32px;
  --display-xs-semibold-font-style: normal;
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --body-1-bold-font-family: "Poppins", Helvetica;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 20px;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: -1200%;
  --body-1-bold-font-style: normal;
  --colors-primary-50: rgba(255, 252, 234, 1);
  --colors-primary-100: rgba(255, 245, 197, 1);
  --colors-primary-200: rgba(255, 236, 133, 1);
  --colors-primary-300: rgba(255, 219, 70, 1);
  --colors-primary-400: rgba(255, 200, 27, 1);
  --colors-primary-500: rgba(250, 163, 0, 1);
  --colors-primary-600: rgba(226, 125, 0, 1);
  --colors-primary-700: rgba(187, 86, 2, 1);
  --colors-primary-800: rgba(152, 66, 8, 1);
  --colors-primary-900: rgba(124, 55, 11, 1);
  --colors-primary-950: rgba(72, 27, 0, 1);
  --colors-dell-50: rgba(242, 251, 234, 1);
  --colors-dell-200: rgba(196, 236, 170, 1);
  --colors-dell-500: rgba(93, 178, 48, 1);
  --colors-dell-600: rgba(69, 142, 34, 1);
  --colors-dell-700: rgba(54, 109, 30, 1);
  --colors-primary-50-duplicate: rgba(242, 251, 234, 1);
  --colors-primary-100-duplicate: rgba(225, 245, 210, 1);
  --colors-primary-500-duplicate: rgba(93, 178, 48, 1);
  --colors-primary-600-duplicate: rgba(10, 119, 255, 1);
  --colors-primary-700-duplicate: rgba(54, 109, 30, 1);
  --colors-primary-800-duplicate: rgba(51, 95, 32, 1);
  --colors-primary-900-duplicate: rgba(41, 74, 29, 1);
  --colors-base-white: rgba(255, 255, 255, 1);
  --colors-base-black: rgba(0, 0, 0, 1);
  --colors-neutral-50: rgba(250, 251, 252, 1);
  --colors-neutral-200: rgba(249, 249, 249, 1);
  --colors-neutral-300: rgba(247, 247, 248, 1);
  --colors-neutral-500: rgba(239, 239, 241, 1);
  --colors-neutral-600: rgba(234, 235, 240, 1);
  --colors-neutral-700: rgba(229, 229, 231, 1);
  --colors-gray-25: rgba(151, 154, 160, 1);
  --colors-gray-50: rgba(133, 140, 149, 1);
  --colors-gray-400: rgba(69, 77, 86, 1);
  --colors-gray-700: rgba(50, 53, 57, 1);
  --colors-gray-800: rgba(43, 45, 47, 1);
  --colors-gray-900: rgba(37, 37, 37, 1);
  --colors-gray-950: rgba(24, 24, 24, 1);
  --colors-primary-200-duplicate: rgba(144, 194, 255, 1);
  --number-system-main-system-2px: 2px;
  --number-system-main-system-4px: 4px;
  --number-system-main-system-6px: 6px;
  --number-system-main-system-8px: 8px;
  --number-system-main-system-10px: 10px;
  --number-system-main-system-12px: 12px;
  --number-system-main-system-14px: 14px;
  --number-system-main-system-16px: 16px;
  --number-system-main-system-20px: 20px;
  --number-system-main-system-24px: 24px;
  --number-system-main-system-28px: 28px;
  --number-system-main-system-32px: 32px;
  --components-buttons-gaps-gap-small: 4px;
}
