:root {
  --primary-50: rgba(241, 248, 254, 1);
  --primary-300: rgba(136, 200, 241, 1);
  --primary-100: rgba(227, 239, 251, 1);
  --body-1-bold-font-family: "Poppins", Helvetica;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 20px;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: -1200%;
  --body-1-bold-font-style: normal;
  --h5-font-family: "Poppins", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 23px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --number-system-main-system-8px: 8px;
  --number-system-main-system-10px: 10px;
  --number-system-main-system-12px: 12px;
  --colors-primary-600: rgba(69, 142, 34, 1);
  --colors-base-black: rgba(0, 0, 0, 1);
}
